<footer>
    <div id="footerMenu">
        <ul>
            <li routerLinkActive="active"><a routerLink="home">Home</a></li>
            <li routerLinkActive="active"><a routerLink="portfolio">Portfolio</a></li>
            <li routerLinkActive="active"><a routerLink="blog">Blog</a></li>
            <li routerLinkActive="active"><a routerLink="contacts">Contacts</a></li>
        </ul>
    </div>
   <div class="social">
       <a href="https://www.facebook.com/profile.php?id=100006066930860" target="_blank"><img src="../../../assets/images/facebook-logo.png" alt="facebook logo" srcset=""></a>
       <a href="https://www.linkedin.com/in/nazar-skrypnyk-49bb1918b/" target="_blank"><img src="../../../assets/images/linkedin-logo.png" alt="linkedin logo" srcset=""></a>
       <a href="https://github.com/nazarskr" target="_blank"><img src="../../../assets/images/github-logo.png" alt="github logo" srcset=""></a>
   </div>
   <div id="linkToWebsite">
         <a href="#">@ <span>{{currentDate | date: 'yyyy'}}</span>
            Nazar Skrypnyk. All rights reserved.</a>
   </div>
</footer>
