@import '../../../variables.scss';
#menuArea {
    padding: 20px 40px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}
input {
    display: none;
} 
.open {
    background-color: black;
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    top: 8px;
}

.open:before {
content: "";
    background-color: black;
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: -8px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.open:after {
content: "";
    background-color: black;
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: 4px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.menuOpen {
    width: 24px;
    height: 20px;
    display: block;
    padding: 15px;
    cursor: pointer;
    float: right;
}

.menuOpen:hover .open:before {
    top: -9px;
}

.menuOpen:hover .open:after {
    top: 5px;
}

.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
}

.menu label {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-size: 100%;
    cursor: pointer;
}

.menu .menuContent {
    position: relative;
    top: 50%;
    font-size: 44px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: -170px;
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.menu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    transition: color 0.2s;
    font-family: $main-font-bold;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 10px 0;
}

.menu ul li a:hover {
    color: black;
}

.menu ul li:hover {
    background: $main-color;
}

.menuEffects {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.menuEffects ul {
    transform: translateY(0%);
    transition: all 0.5s;
}

#menuToggle:checked ~ .menuEffects {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}

#menuToggle:checked ~ .menuEffects ul {
    opacity: 1;
}

#menuToggle:checked ~ .menuOpen .open {
    background-color: transparent;
}

#menuToggle:checked ~ .menuOpen .open:before {
    content: "";
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    top: 0px;
    z-index: 11;
}

#menuToggle:checked ~ .menuOpen .open:after {
    content: "";
    background-color: white;
    transform: rotate(-45deg);
    position: relative;
    top: 0px;
    z-index: 11;
}

#menuToggle:not(:checked) ~ .menuEffects ul {
    transform: translateY(-30%);
}
@media (max-width: 350px) {
    #menuArea {
        right: 20px;
        .menu .menuContent {
            font-size: 30px;
            padding-bottom: 0;
            margin-top: -120px;
        }
    }
}
//scroll button
#scrollButton {
    position: fixed;
    bottom: 50px;
    right: 30px;
    border: none;
    border-radius: 50%;
    background-color: red;
    padding: 5px;
    img {
        width: 40px;
        height: 40px;
        filter: invert(100%);
    }
}
