@import '../../../variables.scss';
#contacts {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: $main-color;
}
h3 {
    padding-bottom: 40px;
}
#contactsForm {
    width: 400px;
    padding-bottom: 20px;
} 
.full-width {
    width: 100%;
}
img {
    width: 32px;
    height: 32px;
}
@media (max-width: 500px) {
    #contactsForm {
        width: 250px;
        padding-bottom: 20px;
    }
    h3 {
        padding-bottom: 10px;
    } 
}