$main-color: #e6e600;
$color-translucent: rgba(0, 0, 0, 0.93);
$color-middle-translucent: rgba(0, 0, 0, 0.8);
$color-high-translucent: rgba(0, 0, 0, 0.5);
$white-translucent: rgba(255, 255, 255, 0.93);
$white-middle-translucent: rgba(255, 255, 255, 0.8);
$white-high-translucent: rgba(255, 255, 255, 0.5);
$text-color-alternative: red;
$main-font: 'Raleway', sans-serif;
$main-font-bold: 'Indie Flower', cursive; 